@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@font-face {
    font-family: "ibarranova";
    src: url(../Fonts/IbarraRealNova-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* Comienzo de nav */

.navegacion ul li a:hover {
    color: rgb(128, 128, 128);  
}

.navegacion ul li a {
    font-size: 1rem; 
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-shadow:rgb(128, 123, 123) 1.5px 1.5px
}

/* Fin de Nav */

/* Comienzo de footer */

.textFooter {
    font-size: 0.8rem; 
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.redes {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    margin-right: 1rem;
}

/* Fin de footer */

/* Comienzo index */

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.955);
    font-size: 5rem;
    color: rgb(0, 0, 0);
    font-family: "ibarranova", sans-serif;
    text-shadow:rgb(128, 123, 123) 2px 2px; 
    animation: title 12s infinite
}

@keyframes title {
    0% {opacity: 0; color: rgb(0, 0, 0);}
    25% {color:rgb(0, 0, 0);background-color: rgb(179, 179, 179);}
    50% {opacity: 1;color: rgb(255, 255, 255);background-color: rgb(131, 131, 131);}
    75% {color: rgb(255, 255, 255);background-color: rgb(46, 46, 46);}
    100% {opacity: 0;background-color: rgb(112, 112, 112);}

}

.text {
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.955);
    font-size: 1.6rem;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: "ibarranova", sans-serif;
    animation: text 4s infinite;
}

@keyframes text {
0%{ margin-left: -600px;}
10% { margin-left: -300px;}
}


/* fin index */

/* comienzo contacto */
.tituloFormulario {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-family: "ibarranova", sans-serif;
    text-shadow:rgb(128, 123, 123) 1px 1px;
}

.fondoFormulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(198, 189, 189);
    text-shadow:rgb(128, 123, 123) 1px 1px;
    text-align: center;
    font-family: "ibarranova", sans-serif;
    font-weight: bold;   
}

.texto {
    height: 5rem;
}

.button input {
    border: 2px solid;
    background-color: transparent;
    font-weight: bold;
}
/* fin contacto */

/* comienzo nosotros */
.fondoNosotros {
    display: flex;
    flex-direction: column;
    height: 60%;
    gap: 2rem;
}

.titulosNosotros {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-family: "ibarranova", sans-serif;
    text-shadow:rgb(128, 123, 123) 0.5px 0.5px; 
    font-weight: bold;
    margin-left: 1rem;
}

.textNosotros {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    font-family: "ibarranova", sans-serif;
    font-weight: bold;
    margin-left: 1rem;
}

.sectionNosotros{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.sectionNosotros1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgRefugio {

    height: auto;
    width: auto;
    max-height: 350px;
    max-width: 350px;
    border: 3px solid rgb(0, 0, 0);
    margin-bottom: 1rem;
}

/* fin nosotros */

/* Comienzo donacion */

.sectionDonacion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;
    margin-bottom: 4.3rem;
    margin-left: 1rem;
}

.sectionDonacion2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mediosDePagos {
    display: flex;
    width: 37vh;
    align-items: center;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    font-family: "ibarranova", sans-serif;
    font-weight: bold;
}

/* fin donacion */
.fondoAdopta{
    display: flex;
    
}

.sectionAdopta {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.sectionAdopta2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    

}

.imgAdopta {
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 200px;
    border: 3px solid rgb(0, 0, 0);
}

.tituloAdopta {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "ibarranova", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    text-shadow:rgb(128, 123, 123) 2px 2px;
}

.nombreAdoptado {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "ibarranova", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

@media screen and (max-width:600px) and (orientation:portrait) {

/* Comienza index*/

    .navegacion ul li a {
        font-size: 0.8rem; 
        text-shadow:rgb(128, 123, 123) 1.5px 1.5px
    }

    .index {
        height: 700px;
    }
    .titulo {
        font-size: 2.5rem;
        text-shadow:rgb(128, 123, 123) 1.5px 1.5px; 
    }

/* termina index*/      

/* Comienza adopta*/

.tituloAdopta{
    font-size: 2rem;
}
.sectionAdopta2{
    flex-wrap: wrap;
}

.imgAdopta {
    height: 4.5rem;
    width: 6rem;
    max-height: 200px;
    max-width: 200px;
    border: 3px solid rgb(0, 0, 0);
}

/* termina adopta*/  

/* Comienza nosotros*/

.nosotros{
    height: 720px;
}
.sectionNosotros {
    gap: 0.2rem;
}

.titulosNosotros{
    font-size: 0.7rem;
}

.textNosotros{
    font-size: 0.6rem;
}
.imgRefugio{
    height: 12rem;
    width: 80%;
}

/* termina nosotros*/  

/* Comienza contacto*/

.sectionContacto{
    height: 700px;
}
.fondoFormulario{
    height: 600px;
}
.tituloFormulario{
    font-size: 1.2rem;
    text-shadow:rgb(128, 123, 123) 1px 1px;
    margin-left: 0.9rem;
}

label { font-size: 1.2rem;}

.texto{ height: 6rem;
}

/* termina contacto*/  

/* Comienza donancion*/

.donacion {
    height: 700px;
}

.titulosNosotros{
    font-size: 1rem;
}
.textNosotros {
    font-size: 0.9rem;
}
.sectionDonacion{
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.7rem;
    margin-left: 1rem;
}

.sectionDonacion2{
    flex-direction: column;
    margin-top: -40px;
}

.mediosDePagos{
font-size: 0.7rem;
}

.inputdonacion{
    font-size: 0.7rem;
    padding: 0.2rem;
}
/* termina donancion*/  

}