@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@font-face {
    font-family: "ibarranova";
    src: url(../Fonts/IbarraRealNova-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
@import "../partials/variables";
@import "../partials/letter";
@import "../partials/maps";
@import "../partials/mixins";
@import "../partials/sizes";
@import "../partials/headers";
@import "../partials/footer";
@import "../partials/main";
@import "../partials/mediaquerie";
@import "../partials/extends";



    
