.navegacion {
    ul{
        li {
            a{
                &:hover{
                    color: map-get($colores, textshadow );  
                }
            } 
        }

    }
}

.navegacion {
    ul{
        li {
            a{
                font-size: 1rem; 
                color: map-get($colores, colorletra );
                font-family: $letter1;
                text-shadow: map-get($colores, textshadow ) 1.5px 1.5px
            }
        }

    }
}
